html {
    background-image: url("https://github.com/Geoffery10/minecraft-server/blob/main/images/background_med_edit.jpg?raw=true");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {}

h1 {}