body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', 'sans-serif';
}

html {
    background: url("https://github.com/Geoffery10/minecraft-server/blob/main/images/background_med_dark_2.jpg?raw=true") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.body {
    width: auto;
    margin: 0 auto;
    padding: 0.8em;
}

.topnav {
    overflow: hidden;
    position: relative;
}


/* Style the links inside the navigation bar */

.nav-left {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    top: 50%;
    width: auto;
}


/* Right-aligned section inside the top navigation */

.topnav-right {
    float: right;
    transform: translate(0%, 50%);
    margin: 1em;
    width: auto;
}

.nav-left img {
    width: 30%;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.topnav p {
    font-size: 30px;
    margin: 0;
    margin-left: 0.7em;
    top: 50%;
    font-family: 'Arial', 'sans-serif';
    font-weight: bold;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

.box {
    display: flex;
    align-items: center;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 28px;
    border: 0px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

#play {
    background-color: #da7dc3;
    margin-right: 1em;
    margin-bottom: 0.9em;
}

#play:hover {
    background-color: #e99ed3;
    margin-right: 1em;
    margin-bottom: 0.9em;
}

#rules {
    background-color: #838383;
    margin-right: 1em;
}

#rules:hover {
    background-color: #838383;
    margin-right: 1em;
}

#map {
    background-color: #BEDA7D;
    margin-right: 1em;
}

#map:hover {
    background-color: #d4e99e;
    margin-right: 1em;
}

#discord {
    background-color: #8a9cfe;
}

#discord:hover {
    background-color: #97a6ff;
}

.button_icon {
    margin-right: 0.5em;
    height: 1.0em;
    vertical-align: middle;
    width: 1.0em;
}

.body-box {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
    border-radius: 25px;
    padding: 10px;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    max-width: auto;
    color: #ffffff;
}

.body-box h1 {
    text-align: center;
}

.body-box h2 {
    text-align: center;
}

.body-box p {
    text-align: center;
}

.footer {
    color: #9b9b9b;
    position: fixed;
    left: 0;
    bottom: 0.4em;
    width: 100%;
    text-align: center;
}